/* -------------------- */
/* color                */
/* -------------------- */

:root {
  /* color */
  --clr-red: 0 100% 66%;
  --clr-white: 0 0% 100%;
  --clr-light-grayish-violet: 270 3% 87%;
  --clr-dark-grayish-violet: 279 6% 55%;
  --clr-very-dark-violet: 278 68% 11%;

  /* gradient colors */
  --clr-gradient: hsl(249, 99%, 64%), hsl(278, 94%, 30%);
}
